<div class="w-full">
    <div class="max-w-screen-4xl mx-auto 3xl:px-12">
        <div id="side-content-border">
            <div class="container-lg 3xl:px-4">
                {{ partial "single/post-container-inner.html" . }}
            </div>
        </div>
    </div>
</div>

{{ define "partials/single/post-container-inner.html" }}
    <div id="article" class="3xl:px-12" style="--side-content-offset-left: 0px; --side-content-offset-right: 0px; --side-content-max-width: 0px;">
        {{ . }}
    </div>
{{ end }}
