<span class="tooltip-anchor relative">
    {{- "" -}}
    <span class="tooltip-base absolute -translate-x-1/2 w-max max-w-2xs 3xl:max-w-xs invisible z-10">
        {{- "" -}}
        <a href="{{ .url }}" {{ partial "utilities/link-attr.html" .url | safeHTMLAttr }} class="tooltip-body text-zinc-800 dark:text-zinc-200 no-underline bg-zinc-50 dark:bg-zinc-800 group/body hover:bg-zinc-200 hover:dark:bg-zinc-700 border border-zinc-500 dark:border-zinc-500 shadow-lg shadow-black/20 dark:shadow-black/50 relative opacity-0 p-3 inline-block rounded-lg after:absolute after:left-0 after:right-0">
            {{ $isExternal := partial "utilities/link-is-external.html" .url }}
            {{- with .siteName | default .domain  -}}
                <span class="flex gap-1 items-center text-xs mb-1">
                    {{ . }}
                    {{- if $isExternal -}}
                        {{ partial "utilities/svg-fill.html" (dict "path" "/static/icons/external-link.svg" "class" "h-3.5") }}
                    {{- end -}}
                </span>
            {{- end -}}
            <span class="block text-blue-600 dark:text-blue-400 text-sm 3xl:text-base leading-snug">
                {{- if .title -}}
                    <strong>{{ .title }}</strong>
                {{- else -}}
                    {{ .url }}
                {{- end -}}
            </span>
            {{- with .description -}}
                <span class="block mt-1 text-sm 3xl:text-base">{{ . }}</span>
            {{- end -}}
            {{- with .image -}}
                <span class="block rounded-lg aspect-og mt-3 overflow-hidden">
                    <img src="{{ .RelPermalink }}" alt="" class="aspect-og object-cover w-full group-hover/body:scale-110 [transition:transform_0.2s]">
                </span>
            {{- end -}}
            <i class="tooltip-arrow after:bg-zinc-50 after:dark:bg-zinc-800 after:[transition:background-color_0.2s] after:group-hover/body:bg-zinc-200 after:group-hover/body:dark:bg-zinc-700 after:border after:border-zinc-500 after:dark:border-zinc-500 after:shadow-lg after:shadow-black/20 after:dark:shadow-black/50 after:w-3 after:h-3 absolute after:absolute overflow-hidden after:-translate-x-1/2 after:-translate-y-1/2 after:rotate-45 after:left-1/2 w-12 h-6 pointer-events-none"></i>
            {{- "" -}}
        </a>
        {{- "" -}}
    </span>
    {{- "" -}}
</span>