<a href="{{ .RelPermalink }}" class="card bg-zinc-200 dark:bg-zinc-800 group/summary hover:bg-zinc-300 hover:dark:bg-zinc-700 p-3 rounded-xl [transition:background-color_0.2s] no-underline text-inherit dark:text-inherit">
    {{ with .Resources.GetMatch "thumb" }}
        <div class="rounded-lg aspect-video mb-3 overflow-hidden">
            <img src="{{ .RelPermalink }}" alt="{{ .Params.alt }}" class="object-cover aspect-video w-full group-hover/summary:scale-110 [transition:transform_0.2s]">
        </div>
    {{ else }}
        <div class="bg-zinc-300 dark:bg-zinc-700 group-hover/summary:bg-zinc-350 group-hover/summary:dark:bg-zinc-600 aspect-video rounded-lg mb-3"></div>
    {{ end }}
    {{ $summary := "" }}
    {{ if ne (index .Ancestors 0).Params.hideChildrenCardSummary true }}
        {{ $summary = partial "utilities/summary.html" (dict "page" . "limit" 12 "previewContent" true) }}
    {{ end }}
    <p class="md:text-lg {{ if $summary }}mb-2{{ end }}"><strong>{{ .Title }}</strong></p>
    {{ with $summary }}
        <p class="[transition:color_0.2s] hover:text-zinc-700 hover:dark:text-zinc-300">
            {{ . }}
        </p>
    {{ end }}
</a>