{{ with .Page }}
    {{ if (and (and .Params.concepts (.Scratch.Get "conceptShortcodes")) (ne (len (complement (.Scratch.Get "conceptShortcodes") .Params.concepts)) 0)) }}
        {{ errorf `Page "%s" contains concept terms that are not used in concept shortcodes.` .Page.Title }}
    {{ end }}
    <div class="bg-zinc-200 dark:bg-zinc-800">
        {{ partial "pages/content/hero.html" . }}
    </div>
    {{ if .Content }}
        {{ partial "pages/page/content.html" . | partial "pages/content/post-container.html" }}
        <div class="max-w-screen-xl mx-auto px-container pb-container">
            {{ partial "pages/list/card-lists.html" . }}
        </div>
    {{ else }}
        <div class="container-xl">
            {{ partial "pages/list/card-lists.html" . }}
        </div>
    {{ end }}
{{ end }}

{{ define "partials/pages/page/content.html" }}
    {{ partial "pages/content/toc.html" . }}
    {{ partial "pages/content.html" . }}
    {{ partial "pages/content/references.html" . }}
{{ end }}