{{ define "main" }}
    {{ if (and (and .Params.concepts (.Scratch.Get "conceptShortcodes")) (ne (len (complement (.Scratch.Get "conceptShortcodes") .Params.concepts)) 0)) }}
        {{ errorf `Page "%s" contains concept terms that are not used in concept shortcodes.` .Page.Title }}
    {{ end }}
    <div class="bg-zinc-200 dark:bg-zinc-800">
        {{ $hero := .Resources.GetMatch "hero" }}
        {{ if $hero }}
            <div class="container-xl">
                {{ partial "pages/single/hero.html" . }}
            </div>
        {{ else }}
        <div class="container-lg">
            {{ partial "pages/single/hero.html" . }}
        </div>
        {{ end }}
    </div>
    {{ partial "posts/single.html" . | partial "pages/single/post-container.html" }}
{{ end }}

{{ define "partials/posts/single.html" }}
    {{ partial "pages/single/toc.html" . }}
    {{ partial "pages/content.html" . }}
    {{ partial "pages/single/references.html" . }}
{{ end }}
