<a href="{{ .url | safeURL }}" {{ partial "utilities/link-attr.html" .url | safeHTMLAttr }} class="flex text-inherit dark:text-inherit no-underline p-2 rounded-lg bg-zinc-200 dark:bg-zinc-800 group-hover/tooltip:bg-zinc-300 group-hover/tooltip:dark:bg-zinc-700 group-hover/tooltip:text-zinc-800 group-hover/tooltip:dark:text-zinc-200 [transition:background-color_0.2s,color_0.2s]">
    {{ partial "utilities/svg-fill.html" (dict "path" "/static/icons/arrow-right.svg" "class" "flex-none h-4 md:h-5 mr-2") }}
        <span>
        <p class="text-sm md:text-base"><strong>{{ .title }}</strong></p>
        {{ with .description }}
            <p class="text-xs md:text-xm">{{ . }}</p>
        {{ end }}
    </span>
</a>