<a href="{{ .Page.RelPermalink | safeURL }}" class="flex items-center text-inherit dark:text-inherit md:text-lg no-underline p-1 rounded-md h-full {{ if .OverImage }}bg-transparent group-hover/tooltip:bg-zinc-50/80 group-hover/tooltip:dark:bg-zinc-800/80 border border-transparent group-hover/tooltip:border-zinc-500 group-hover/tooltip:dark:border-zinc-500{{ else }}bg-zinc-200 dark:bg-zinc-800 group-hover/tooltip:bg-zinc-300 group-hover/tooltip:dark:bg-zinc-700{{ end }} group-hover/tooltip:text-zinc-800 group-hover/tooltip:dark:text-zinc-200 [transition:background-color_0.2s,border-color_0.2s,color_0.2s]">
    {{ if eq .ButtonIndex 0 }}
        {{ .Page.Params.buttonTitle }}
    {{ end }}
    {{ if eq .ButtonIndex -1 }}
        {{ partial "utilities/svg-fill.html" (dict "path" "/static/icons/chevron-left.svg" "class" "h-5" "strokeClass" "stroke-zinc-400 group-hover/tooltip:stroke-current [transition:stroke_0.2s]") }}
    {{ end }}
    {{ if eq .ButtonIndex 1 }}
        {{ partial "utilities/svg-fill.html" (dict "path" "/static/icons/chevron-right.svg" "class" "h-5" "strokeClass" "stroke-zinc-400 group-hover/tooltip:stroke-current [transition:stroke_0.2s]") }}
    {{ end }}
</a>