<span class="tooltip not-prose group relative" data-counter="0" data-status="closed" data-hover="0">
    {{- safeHTML .content -}}
    {{- if (or (hasPrefix .url "http://") (hasPrefix .url "https://")) -}}
        {{- with (index site.Data.links.linkData .url) -}}
            {{- partial "tooltip-helper.html" . -}}
        {{- end -}}
    {{- else -}}
        {{- with site.GetPage .url -}}
            {{- partial "tooltip-helper.html" (dict "title" .Title "url" .RelPermalink "description" .Params.summary) -}}
        {{- end -}}
    {{- end -}}
</span>