<meta property="og:site_name" content="{{ site.Params.title }}" />
<meta property="og:title" content="{{ site.Params.Title }} - {{ .Title }}" />
<meta name="twitter:title" content="{{ site.Params.Title }} - {{ .Title }}"/>
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
{{ with partial "utilities/summary.html" (dict "page" .) }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}" />
    <meta name="twitter:description" content="{{ . }}"/>
{{ end }}
{{ with .Permalink }}
    <meta property="og:url" content="{{ . }}" />
{{ end }}

{{ with resources.GetMatch (printf `images/og/%s.png` .File.UniqueID) }}
    <meta property="og:image" content="{{ .Permalink }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ .Permalink }}"/>
{{ else }}
    <meta name="twitter:card" content="summary"/>
{{ end }}

{{ if .IsPage }}
    {{ $iso8601 := "2006-01-02T15:04:05-07:00" }}
    {{ with .PublishDate }}
        <meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
    {{ end }}
    {{ with .Lastmod }}
        <meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
    {{ end }}
{{ end }}