{{ define "main" }}
    {{ range site.Sections }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <ul>
            {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    {{ end }}
    {{ range $taxonomy, $terms := site.Taxonomies }}
        {{ with site.GetPage $taxonomy }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <ul>
            {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    {{ end }}
{{ end }}
