{{ define "main" }}
    {{ with site.GetPage "/home_resources" }}
        <div class="bg-zinc-200 dark:bg-zinc-800">
            {{ partial "index/hero.html" . | partial "pages/list-container.html" }}
        </div>
    {{ end }}
    {{ partial "index/lists.html" . | partial "pages/list-container.html" }}
{{ end }}

{{ define "partials/index/hero.html" }}
    <div class="flex md:flex-row flex-col gap-8 md:gap-12">
        <div class="flex place-items-center flex-1 not-tooltip-container">
            <div class="not-tooltip-container">
                {{ with .Resources.GetMatch "hero_title*.md" }}
                <h1 class="text-6xl">
                    {{ .Content }}
                </h1>
                <br>
                {{ end }}
                {{ with .Resources.GetMatch "hero_subtitle*.md" }}
                {{ .Content }}
                {{ end }}
            </div>
        </div>
        {{ with .Resources.GetMatch "ethan.jpg" }}
            <div class="flex-1">
                <img src="{{ .RelPermalink }}" alt="{{ .Params.alt }}" class="rounded-xl object-cover min-h-full">
            </div>
        {{ end }}
    </div>
{{ end }}

{{ define "partials/index/lists.html" }}
    <div class="flex flex-col gap-6 md:gap-12">
        {{ partial "pages/card-list.html" "projects" }}
        {{ partial "pages/card-list.html" "posts" }}
    </div>
{{ end }}