{{ with site.GetPage "section" . }}
    <div>
        <a href="{{ .RelPermalink }}" class="text-inherit">
            <h2 class="mb-5 md:mb-6">{{ .Title }}</h2>
        </a>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {{ $pages := first 6 .Pages }}
            {{ range $pages }}
                {{ .Render "card" }}
            {{ end }}
            {{ if len $pages | gt 6 }}
                <div class="bg-zinc-200 dark:bg-zinc-800 p-3 rounded-xl flex flex-col justify-center">
                    <p class="md:text-lg text-center"><strong>{{ i18n "comingSoon" }}</strong></p>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}