<div class="flex flex-col gap-6 md:gap-12">
    {{ $sourcePage := . }}
    {{ with .Params.lists }}
        {{ partial "pages/list/lists" (slice . $sourcePage) }}
    {{ else }}
        {{ partial "pages/list/card-list.html" (slice . (dict) $sourcePage) }}
        {{ with (index $sourcePage.Ancestors 0).Params.childrenLists }}
            {{ partial "pages/list/lists" (slice . $sourcePage) }}
        {{ end }}
    {{ end }}
</div>

{{ define "partials/pages/list/lists" }}
    {{ $sourcePage := (index . 1) }}
    {{ range (index . 0) }}
        {{ range $path, $meta := . }}
            {{ partial "pages/list/card-list.html" (slice (site.GetPage $path) $meta $sourcePage) }}
        {{ end }}
    {{ end }}
{{ end }}