{{ $page := index . 0 }}
{{ $count := (index . 1).count }}
{{ $title := (index . 1).title | default $page.Title }}
{{ $description := (index . 1).description }}
{{ with (index $page.Ancestors 0).Params.childrenListTitle }}
    {{ if findRE `%s` . }}
        {{ $title = printf . $page.Title }}
    {{ else }}
        {{ $title = . }}
    {{ end }}
{{ end }}
{{ $excludePage := index . 2 }}
{{ with $page }}
    {{ $pages := .Pages.ByWeight }}
    {{ with $excludePage }}
        {{ $pages = where $pages "File.UniqueID" "ne" .File.UniqueID }}
    {{ end }}
    {{ if $count }}
        {{ $pages = first $count $pages }}
    {{ end }}
    {{ if ne (len $pages) 0 }}
        <div class="not-tooltip-container">
                {{ $titleContent := partial "pages/list/card-list/title-link.html" (slice $title .RelPermalink) }}
                <div class="not-tooltip-container flex flex-wrap gap-4 {{ if $description }}mb-2{{ else }}mb-5 md:mb-6{{ end }}">
                    {{ if .RelPermalink }}
                        {{ partial "tooltips/tooltip.html" (dict "content" $titleContent "page" .) }}
                    {{ else }}
                        {{ $titleContent }}
                    {{ end }}
                    {{ if and $count (len $pages | gt $count) | and .Params.comingSoon }}
                        <div class="bg-zinc-200 dark:bg-zinc-800 px-2 rounded-md flex flex-col justify-center">
                            <p class="md:text-lg text-center"><strong>{{ i18n "comingSoon" }}</strong></p>
                        </div>
                    {{ end }}
                </div>
                {{ with $description }}
                    <p class="mb-5 md:mb-6">{{ . }}</p>
                {{ end }}
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
                    {{ range $pages }}
                        {{ .Render "card" }}
                    {{ end }}
                </div>
        </div>
    {{ end }}
{{ end }}

{{ define "partials/pages/list/card-list/title-link.html" }}
    {{ if index . 1 }}
        <a href="{{ index . 1 }}" class="text-inherit dark:text-inherit">
            <h2 class="text-xl md:text-3xl">{{ index . 0 }}</h2>
        </a>
    {{ else }}
        <h2 class="text-xl md:text-3xl">{{ index . 0 }}</h2>
    {{ end }}
{{ end }}