{{ if not ($.Page.Scratch.Get "plotlyloaded") }}
  {{ $.Page.Scratch.Set "plotlyloaded" 1 }}
  <script src="/js/plotly-2.24.1.min.js"></script>
{{ end }}
{{ $json := .Get "json" }}
{{ $height := .Get "height" | default "200px" }}
{{ $modebar := .Get "modebar" | default "false" }}
<div id="{{ $json }}" class="plotly" style="height:{{ $height }}"></div>
<script type="module">
import myJson from '{{ $json }}' assert {type: 'json'};

Plotly.newPlot("{{ $json }}", myJson.data, myJson.layout, {...myJson.config, responsive: true});
</script>