{{- if not (.Page.Scratch.Get "plotNum") }}
{{- .Page.Scratch.Set "plotNum" 1 -}}
<script src="/js/plotly-2.24.1.min.js"></script>
<script>
function updatePlotTheme(plotDiv) {
  const style = getComputedStyle(plotDiv);
  const bgColor = style.getPropertyValue('background-color');
  const fontColor = style.getPropertyValue('color');
  const update = {
    paper_bgcolor: bgColor,
    plot_bgcolor: bgColor,
    "font.color": fontColor,
    "xaxis.color": fontColor,
    "yaxis.color": fontColor,
  };
  Plotly.relayout(plotDiv, update)
}
</script>
{{- end -}}
{{- $num := .Page.Scratch.Get "plotNum" -}}
{{- .Page.Scratch.Set "plotNum" (add 1 $num) -}}
{{- $id := printf `plot-%d` $num -}}
{{- $height := .Get "height" | default "200px" }}
<div id="{{ $id }}" class="fade-exclude bg-zinc-200 dark:bg-zinc-800 rounded-xl overflow-hidden" style="height: {{ $height }}"></div>
<script type="module">
import plot from '{{ .Get "json" }}' assert {type: 'json'};

const plotDiv = document.getElementById("{{ $id }}");
Plotly.newPlot(plotDiv, plot.data, plot.layout, {...plot.config, responsive: true, displaylogo: false});
updatePlotTheme(plotDiv);

document.documentElement.addEventListener("theme", () => updatePlotTheme(plotDiv));
</script>