{{ $number := default (.Page.Scratch.Get "parentSidenoteNum" | default 1) (.Page.Scratch.Get "sidenoteNum") -}}
{{- .Page.Scratch.Set "sidenoteNum" (add 1 $number) -}}
<span class="sidenote relative group">
    {{- "" -}}
    <span class="sidenote-background hidden absolute -z-10">
        {{- range seq 4 -}}
        <span class="absolute left-0 top-0 bg-zinc-200 dark:bg-zinc-800 [transition:background-color_0.2s,border-color_0.2s] group-hover:bg-zinc-300 group-hover:dark:bg-zinc-700 {{ if ne . 4 }}border border-zinc-50 dark:border-zinc-900 group-hover:border-zinc-500 group-hover:dark:border-zinc-500{{ end }} rounded-md"></span>
        {{- end -}}
    </span>
    {{- "" -}}
    <span class="sidenote-space hidden"> </span>
    {{- "" -}}
    <button title="{{ i18n "toggleSidenote" (dict "SidenoteNum" $number ) }}" class="sidenote-button"><sup class="sidenote-sup bg-zinc-300 dark:bg-zinc-700 [transition:background-color_0.2s,border_0.2s] group-hover:bg-zinc-350 group-hover:dark:bg-zinc-600 border-zinc-50 dark:border-zinc-900 group-hover:border-zinc-500 group-hover:dark:border-zinc-500 text-zinc-800 dark:text-zinc-200 px-1 mx-0.5 rounded-sm">{{ $number }}</sup></button>
    {{- "" -}}
    <span class="sidenote-content hidden bg-zinc-200 dark:bg-zinc-800 [transition:background-color_0.2s,border-color_0.2s] group-hover:bg-zinc-300 group-hover:dark:bg-zinc-700 border-zinc-50 dark:border-zinc-900 group-hover:border-zinc-500 group-hover:dark:border-zinc-500 text-zinc-800 dark:text-zinc-200 translate-x-[--side-content-offset-right] max-w-[--side-content-max-width] w-max">
        {{- "" -}}
        <button title="{{ i18n "toggleSidenote" (dict "SidenoteNum" $number ) }}" class="sidenote-button-2"><sup class="bg-zinc-300 dark:bg-zinc-700 [transition:background-color_0.2s] group-hover:bg-zinc-350 group-hover:dark:bg-zinc-600 hover:group-hover:bg-zinc-400 hover:group-hover:dark:bg-zinc-500 px-1 mx-0.5 rounded-sm">{{ $number }}</sup></button>
        <span class="sidenote-prefix" data-prefix-inline="{{ .Get 0 }}" data-prefix-block="{{ .Get 2 }}"></span>
        {{- "" -}}
        <span class="sidenote-text-inline hidden">{{- .Inner | .Page.RenderString | partial "sidenote/trim.html" -}}</span>
        {{- "" -}}
        <span class="sidenote-text-block">{{- strings.FirstUpper .Inner | .Page.RenderString | partial "sidenote/trim.html" -}}</span>
        {{- "" -}}
        <span class="sidenote-suffix" data-suffix-inline="{{ .Get 1 }}" data-suffix-block="{{ .Get 3 }}"></span>
        {{- "" -}}
    </span>
    {{- "" -}}
</span>

{{- define "partials/sidenote/trim.html" -}}
    {{- trim . " \n" | strings.TrimPrefix "<p>" | strings.TrimSuffix "</p>" | safeHTML -}}
{{- end }}